<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Liquid Concept - <%= item[:headline] %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <%= yield %>

  <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/javascripts/bootstrap-tooltip.js"></script>
  <script type="text/javascript">
    $('[rel=tooltip]').tooltip();
  </script>
</body>
</html>
