@import "bootstrap";
@import "compass/typography/text/replacement";

body {
  background-color: #EDEAEA;
  font-family: arial;
}

content {
  $box_width: 550px;
  $box_height: 350px;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 350px; 
  margin: ($box_height / -2) 0 0 ($box_width / -2);
  padding: 50px 60px 50px 60px;
  border-style: solid;
  border-width: 2px;
  background-color: #FFFFFF; 
  text-align: center;

  h1 {
    @include replace-text-with-dimensions('liquid_concept.png');
    margin: 0 auto 30px auto;
  }

  ul {
    display: inline-block;
    margin: 0 auto 30px auto;
    padding: 6px 0;
    list-style: none;
    height: image-height('ruby_lang.png');
    padding-left: image-width('ruby_lang.png') + 30px;
    background: image-url('ruby_lang.png') no-repeat left top;

    li {
      text-align: left;
      font-size: 1.6em;

      a, a:hover {
        text-decoration: none;
        color: inherit;
        line-height: (image-height('ruby_lang.png') - 12px) / 2;
      }

      &.phone a {
        cursor: default;
      }
    }
  }

  p {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    font-size: 1.3em;
  }
}

